Repository 7066/No.React: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "package.json": ["prettier --write"],
  "*.{scss,less,css,html}": ["stylelint --fix", "prettier --write"],
  "*.md": ["prettier --write"]
}

feat: ✨ 添加 nprogress 进度条
  @types/auto-imports.d.ts
  @types/auto-imports.json
  package.json
  src/constant/antd-theme.js
  src/hooks/plugins.ts
  src/modules/global/components/Aside/index.tsx
  src/modules/global/components/Tags/index.tsx
  src/modules/global/pages/index.tsx
  src/modules/login/pages/index.tsx
Due: eslint, prettier --write

feat: ✨ 更新 README
  README.md
Due: prettier --write

feat: ✨ 打包资源路径优化
  .DS_Store
  .webpack/webpack.config.js
  .webpack/webpack.prod.js
  src/modules/global/pages/index.tsx
  src/modules/login/pages/index.tsx
Due: eslint, prettier --write

feat: ✨ 代码优化
  .plop/component.js
  .plop/module.js
  @types/auto-imports.d.ts
  @types/auto-imports.json
  src/mock.ts
  src/modules/example2/pages/index.tsx
  src/modules/global/components/Tags/index.tsx
  src/modules/global/pages/index.tsx
  src/modules/global/store.ts
  src/modules/home/pages/index.tsx
  src/plugins/router/hook.ts
Due: eslint, prettier --write

feat: ✨ 配置代理
  .env
  .env.development
  .env.production
  .webpack/index.js
  .webpack/webpack.config.js
  README.md
  package.json
  src/modules/example1/pages/index.tsx
  src/modules/example1/service.ts
  src/plugins/request.ts
  yarn-error.log
Due: eslint, prettier --write

feat: ✨ 配置代理
  .webpack/webpack.config.js
  src/modules/example1/service.ts
Due: eslint, prettier --write

feat: 确定husky版本
  .DS_Store
  package.json
Due: prettier --write

Delete .DS_Store
  .DS_Store
Due: none

feat: ✨ 优化
  .env
  .env.development
  .env.production
  .webpack/index.js
  .webpack/webpack.config.js
  README.md
  src/modules/example1/service.ts
  src/modules/example2/pages/index.tsx
Due: eslint, prettier --write
